 #mom{
	border : 2px solid blue;
	display : -webkit-box;
	-webkit-box-orient : horizontal;
	width : 1000px;
	height : 300px;
	-webkit-box-align : stretch;
 }
 #kid1{
	border : 1px solid red;
	background : orange;
	padding : 20px;
	margin : 20px;
	-webkit-box-flex : 1;
 }
 #kid2{
	border : 1px solid red;
	background : pink;
	padding : 20px;
	margin : 20px;
	-webkit-box-flex : 1;
 }
 #kid3{
	border : 1px solid red;
	background : green;
	padding : 20px;
	margin : 20px;
	-webkit-box-flex : 1;
}
 #kid4{
	border : 1px solid red;
	background : purple;
	padding : 20px;
	margin : 20px;
	-webkit-box-flex : 1;
 }
 